body {
    width: 100%;
    height: 100%;
}


main {
    margin-top: 10px;
    display: flex;
    flex-direction : column;
    text-align: center;
    align-items:center;
    justify-content: space-around;
}


.home-btn {
    margin-left: 10px;
    padding : -30px;
    background-color: white;
    border : none;
    border-radius: 100%;
    width : 60px;
    height : 60px;
    padding: 0;
}

.home-btn:focus {
    outline: none;
}

img {
    padding: 0;
    margin: 0;
}

.vedio {
    width:80vw;
    height : 60vw;
    margin: auto;
    background-color: rgb(170, 170, 170);
}

.text{
    margin-top: 30px;
    color : #115FA7;
    font-weight: 700;
}