<html>
<head>
  <title>home</title>
  <link rel='stylesheet' href='{{url_for('static', filename = 'style.css') }}'>
  <link rel='stylesheet' href='{{url_for('static', filename = 'index.css') }}'>  
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body style="background-color: #10487d;">
  <main>
    <section class = "main-text">
      <p>손으로 소통하는</p>
      <h1>수화번역기</h1>
      <img src = '../static/sign-language.png'/>
    </section>
    <section class="main-btn">
      <div class="btn" style="background-color: white;">
        실시간 번역 시작하기
      </div>
    </section>
  </main>
</body>