<html>
<head>
  <title>home</title>
  <link rel='stylesheet' href='{{url_for('static', filename = 'style.css') }}'>
  <link rel='stylesheet' href='{{url_for('static', filename = 'index.css') }}'>  
  <meta charset='utf-8'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body style="background-color: #115FA7;">
    <div class = "main-all">
      <p class = 'sub-tit'>손으로 소통하는</p>
      <p class ='tit' >수화번역기</p>
      <img src = '../static/applaud.png'/>
      <div class="main-btn" >
        <button  onclick="location.href='/main'"" alt ="*">
        실시간 번역 시작하기
        </button>
      </div>
      <p class ="sub-btn">사용법 및 도움말</p>
    </div>
</body>